.Heading{
    color: #2596be;
}

.department{
    margin-top: 5rem !important;
}

.bg{
    background-image: url('./images/bg.png');
    background-size: cover;
    overflow: hidden;
}

.department img{
    width: 100px;
    transition: all 0.4s ease-in-out;

}
.department img:hover{
    transform: scale(1.4);
    cursor: pointer;
    background-color: rgba(65, 105, 225, 0.212);
    border-radius: 50%;
}


